/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #blogs-container {
        grid-template-columns: repeat(2, 1fr)
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #blogs-container {
        grid-template-columns: repeat(3, 1fr)
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #blogs-container {
        grid-template-columns: repeat(4, 1fr)
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .max-container {
        max-width: 2100px;
        margin: auto;
    }

    #blogs-container {
        grid-template-columns: repeat(5, 1fr);
    }

}

@media (min-width: 1800px) {
    #blogs-container {
        grid-template-columns: repeat(6, 1fr)
    }
}